.card-author {
  margin-top: -1rem;
}

.toolbar {
  margin-bottom: 1rem;
}

.card {
  border: none;
}

/* .card {
  margin-right: 1rem;
} */

/* .Bookcase, .BookPhoto {
  display: flex;
  flex-wrap: wrap;
}

.Book {
  margin: 5px;
}

header {
  padding-top: 20px;
  height: 120px;
  display: flex;

}

.logo {
  margin-left: 10%;
  height: inherit;
  width: 107px;
} */